@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ! ОБЩИЕ СТИЛИ */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6a859c;
  line-height: 1.8;
}

.hide {
  display: none !important;
}

.title__wrapper {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 17px;

  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
}

.subtitle {
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8e8e9c;
}

.common-section {
  text-align: center;
  padding: 80px 0;
}

.common-section--dark {
  background-color: #192024;
}

.common-section--dark * {
  color: #fff;
}

.common-section--dark .subtitle {
  color: #e8e8e8;
}

/* ! HEADER */
.header {
  padding: 20px 0;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69b9ff;
}

.header-nav ul {
  display: flex;
}

.header-nav li + li {
  margin-left: 40px;
}

.header-nav a {
  font-size: 16px;
  color: #676770;
  transition: color 0.2s;
}

.header-nav a:hover {
  color: #0082f3;
}

.header-nav a:active {
  color: #005fb7;
}

/* ! MAIN */
.main {
}

/* ! WELCOME */
.welcome {
  min-height: 600px;
  height: 100vh;
  padding: 195px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;

  background-color: #282936;
  background-image: url("img/welcome-bg.jpg");
  background-size: cover;
  background-position: center;
}

.welcome__heading {
  margin-bottom: 100px;

  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcome__links > * + * {
  margin-left: 20px;
}

.link-primary {
  display: inline-block;
  padding: 11px 30px;

  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: #69b9ff;
  border-radius: 4px;

  transition: background-color 0.1s;
}

.link-primary:hover {
  background-color: #79c0ff;
}

.link-primary:active {
  background-color: #4389c4;
}

.link {
  display: inline-block;
  padding: 10px 30px;

  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: 1px solid #fff;
  border-radius: 4px;

  transition: border-color 0.1s background-color 0.1s;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}

/* ! ABOUT (WHAT WE DO) */
.about {
}

.about .cards__wrapper {
  display: flex;
  justify-content: space-between;
}

.about .card {
  padding: 35px 15px 20px;
  width: 300px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
}

.about .card img {
  margin-bottom: 20px;

  width: 94px;
  height: 94px;
  object-fit: contain;
}

.about .card h4 {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #676770;
}

/* ! SERVICES */
.services {
}

.services .cards__wrapper {
  display: flex;
  justify-content: space-between;
}

.services .card {
  width: 45%;
}

.services .card img {
  margin-bottom: 20px;
}

.services .card h4 {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.services .link {
  margin-top: 15px;
}
